body {
	background-color: #eceff1;
}

/* SIDEBAR */
.ui.sidebar {
	background-color: #fff;
}

.ui.main.sidebar {
	background-color: #37474f;
}

.ui.left.visible.inverted.sidebar {
	box-shadow: none;
}

.ui.visible.thin.sidebar.overlay ~ .pusher {
	position: relative;
	height: 100vh;
	width: calc(100vw - 150px);
	overflow: hidden;

	transform: translate3d(150px, 0px, 0px) !important;
}

/* MENU */
.ui.menu[class*="top attached"] {
	border-radius: 0;
}

.ui.attached.menu {
	max-width: 100%;
}

/* main sidebar */
.ui.main.sidebar .ui.vertical.menu {
	margin: 0;
	border-radius: 0;
	width: 100%;
}

.ui.main.sidebar .ui.vertical.menu > .item {
	height: 40px;
}

.ui.main.sidebar .ui.vertical.menu > .active.item:first-child,
.ui.main.sidebar .ui.vertical.menu > .active.item:last-child {
	border-radius: 0;
} 

.ui.main.sidebar .ui.vertical.inverted.menu {
	background: transparent;
}

.ui.main.sidebar .ui.vertical.inverted.menu .item::before {
	background: transparent none repeat scroll 0 0;
}

/* head menu */
.ui.secondary.inverted.pointing.head.menu {
	border: medium none;
	margin: 0;
	height: 60px;
}

.ui.secondary.inverted.pointing.head.menu .item::before {
	background: transparent none repeat scroll 0 0;
}

.ui.secondary.inverted.pointing.head.menu {
	background-color: #607d8b;
}

.ui.secondary.inverted.pointing.head.menu .item {
	border-bottom: 0;
	margin: 0;
	padding: 23px 16px;
}

.ui.secondary.inverted.pointing.head.menu .item.brand {
	font-size: 15px;
	font-weight: 600;
}

.ui.secondary.inverted.pointing.head.menu .item i.icon {
	margin: 0;
}

.ui.secondary.inverted.pointing.head.menu .item.active {
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

/* body menu */
.ui.top.attached.tabular.body.menu {
	height: 45px;
	border-color: #b0bec5;
	background-color: #cfd8dc;
	padding: 5px 16px 0;
}

.ui.top.attached.tabular.body.menu .active.item {
	border-radius: 0 0 0 0 !important;
	font-weight: 400;
	border-color: #b0bec5;
	background: #eceff1;
}

.ui.inverted.menu .item, 
.ui.inverted.menu .item > a:not(.ui) {
	color: #78909c;
}

/* media menu */
.ui.media.segment .ui.sidebar {
	box-shadow: none;
}

.ui.media.segment .ui.left.sidebar {
	background-color: #eceff1;
	box-shadow: 1px 0 #cfd8dc;
}

.ui.media.segment .ui.right.sidebar {
	box-shadow: -1px 0 #cfd8dc;	
}

.ui.visible.thin.sidebar.overlay ~ .ui.right.visible.sidebar.overlay ~ .pusher {
	height: 390px;
	width: calc(100% - (150px + 260px));
}

.ui.horizontal.media.segment {
	min-height: 391px;
	height: 391px;
	border-top: 1px solid #cfd8dc;
}

.ui.horizontal.media.segment .ui.vertical.menu {
	width: 100%;
}

.ui.horizontal.media.segment .ui.secondary.vertical.pointing.menu {
	border-right: medium none;
	border-left: 4px solid transparent;
}

.ui.horizontal.media.segment .ui.secondary.vertical.pointing.menu .item {
	border-right: medium none;
	border-left: 4px solid transparent;
	margin: 0 0 0 -4px;
	height: 40px;
}

.ui.horizontal.media.segment .ui.secondary.vertical.pointing.menu .active.item {
	border-color: #f2711c;
	font-weight: 400;
}

.ui.media.modal > .actions {
	border-top: 1px solid #cfd8dc;
}

/*
.ui.horizontal.media.segment .ui.secondary.vertical.pointing.menu {
	border-right: medium none;
	border-left: 2px solid transparent;
}

.ui.horizontal.media.segment .ui.secondary.vertical.pointing.menu .item {
	border-right: medium none;
	border-left: 2px solid transparent;
	margin: 0 0 0 -2px;
}
*/

/* SEGMENT */
.ui.segment {
	background-color: transparent;
}

.ui.horizontal.segment {
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.ui.horizontal.page.segment {
	height: calc(100vh - 105px);
}

.ui.horizontal.part.segment {
	display: flex;
	padding: 20px 16px;
	height: 76px;
	border-bottom: 1px solid #cfd8dc;
}

.ui.segment > .right.segment {
	display: flex;
	margin-left: auto !important;
}

.ui.horizontal.data.segment {
	height: calc(100vh - (105px + 76px));
}

.ui.horizontal.data.no-tool.segment {
	height: calc(100vh - 105px);
}

.ui.data.segment > .ui.sidebar ~ .pusher {
	height: calc(100vh - (105 + 76px));
	width: calc(100vw - (150px + 350px));
	transform: translate3d(-350px, 0px, 0px);
}

.ui.data.segment > .ui.right.visible.sidebar {
	box-shadow: -1px 0 #cfd8dc;
	height: calc(100vh - (105 + 76px));
}

.ui.inverted.segment {
	background: transparent;
}

.ui.horizontal.user.segment {
	padding: 18px 1em;
	height: 182px;
	text-align: center;
	border-bottom: 1px solid #263238;
}

.ui.horizontal.user.segment > .header {
	margin: 0.5em 0;
}

.ui.horizontal.user.segment > .ui.image {
	width: 80px;
	height: 80px;
	background-color: #eceff1;
}

.ui.horizontal.user.segment > .ui.image > img {
	height: 80px;
	margin: 0 auto;
	padding: 12px 0;
}

/* BUTTON */
.ui.button {
	border-radius: 0;
	padding: 0.785714em 1em;
	font-weight: 400;
}

.ui.active.button {
	color: rgba(255, 255, 255, 0.65);
}

.ui.active.button:hover {
	color: rgba(255, 255, 255, 1);
}

.ui.buttons,
.ui.buttons .button:first-child,
.ui.buttons .button:last-child {
	border-radius: 0;
}

.ui.modal .actions > .button {
	margin: 0 0 0 12px;
}

/* WRAPPER */
.ui.wrapper {
	position: relative;
	height: calc(100vh - (105px + 76px));
	overflow-y: auto;
}

/* TABLE */
.ui.table {
	border: medium none;
	border-radius: 0;
}

.ui.table thead th {
	font-weight: 400;
	text-transform: uppercase;
	padding: 10px;
	border: medium none;
}

.ui.table thead th.control {
	width: 40px;
}

.ui.table tbody tr {
	height: 40px;
} 

.ui.table tbody tr:first-child td {
	border-top: 1px solid rgba(34, 36, 38, 0.1);
	padding: 9px 10px;
}

.ui.table tbody tr td {
	padding: 9px 10px;	
}

.ui.table tbody tr td:last-child {
	padding-right: 16px;
}

.ui.table tbody td:nth-child(2) i.icon {
	display: inline-block;
	margin-right: 0.714286em;
}


.ui.table thead th i.icon,
.ui.table tbody td i.icon {
	display: block;
	margin: 0 auto;
	line-height: 1em;
	color: #78909c;
}

.ui.table tbody td a i.icon {
	color: #00acc1;
}
.ui.table tfoot tr {
	background-color: #eceff1;
}

.ui.table tfoot tr td {
	text-align: right;
	padding: 10px 16px;
	font-size: 13px;
	color: #90a4ae;
}

.ui.table tfoot tr:first-child td {
	border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.table thead tr:first-child > th:first-child,
.ui.table tbody tr > td:first-child {
	border-radius: 0;
	padding: 0 16px;
	width: 49px;
	border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.ui.table thead tr:first-child > th:first-child > .ui.fitted.checkbox ,
.ui.table tbody tr > td:first-child > .ui.fitted.checkbox {
	display: block;
	vertical-align: middle;
}

/* DIMMER */
.ui.dimmer {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.25);	
}

.ui.modal > .header {
	background-color: #607d8b;
	padding: 1.25rem 16px;
}

.ui.small.modal > .header:not(.ui),
.ui.large.modal > .header {
	font-size: 15px;
}

.ui.modal > .header:not(.ui) {
	font-weight: 600;
	color: #fff;
}

.ui.modal > .icon:first-child + *, 
.ui.modal > *:first-child:not(.icon),
.ui.modal > *:last-child {
	border-radius: 0;
}

.ui.modal > .content {
	padding: 14px 16px;
}

.ui.large.modal > .content {
	padding: 0;
}

.ui.modal > .content,
.ui.modal > .actions {
	background-color: #eceff1;	
}

.ui.modal > .actions { 
	border-top: medium none;
	padding: 14px 16px;
	display: flex;
}

.ui.modal > .actions > .right.action {
	display: flex;
	margin-left: auto;
}

.right.action > .ui.button:last-child {
	margin: 0;
}

/* HOLDER */
.ui.holder {
	color: #b0bec5;
    height: 76px;
    left: 50%;
    margin-left: calc(-260px / 2);
    margin-top: calc(-76px / 2);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 260px;
}