@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(Lato/Lato-Hairline.ttf) format('truetype'), url(Lato/Lato-Hairline.woff2) format('woff2'), url(Lato/Lato-Hairline.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(Lato/Lato-Light.ttf) format('truetype'), url(Lato/Lato-Light.woff2) format('woff2'), url(Lato/Lato-Light.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(Lato/Lato-Regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), local('Lato'), url(Lato/Lato-Regular.svg#Lato) format('svg'), url(Lato/Lato-Regular.eot?#iefix) format('embedded-opentype'), url(Lato/Lato-Regular.ttf) format('truetype'), url(Lato/Lato-Regular.woff2) format('woff2'), url(Lato/Lato-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(Lato/Lato-Bold.ttf) format('truetype'), url(Lato/Lato-Bold.woff2) format('woff2'), url(Lato/Lato-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(Lato/Lato-Black.ttf) format('truetype'), url(Lato/Lato-Black.woff2) format('woff2'), url(Lato/Lato-Black.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(Lato/Lato-Hairline-Italic.ttf) format('truetype'), url(Lato/Lato-Hairline-Italic.woff2) format('woff2'), url(Lato/Lato-Hairline-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(Lato/Lato-Light-Italic.ttf) format('truetype'), url(Lato/Lato-Light-Italic.woff2) format('woff2'), url(Lato/Lato-Light-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(Lato/Lato-Italic.ttf) format('truetype'), url(Lato/Lato-Italic.woff2) format('woff2'), url(Lato/Lato-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(Lato/Lato-Bold-Italic.ttf) format('truetype'), url(Lato/Lato-Bold-Italic.woff2) format('woff2'), url(Lato/Lato-Bold-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(Lato/Lato-Black-Italic.ttf) format('truetype'), url(Lato/Lato-Black-Italic.woff2) format('woff2'), url(Lato/Lato-Black-Italic.woff) format('woff');
}